.OutputPage {
  /* border: 1px solid black; */
  .loaderContainer {
    gap: 10vh;
    width: 70vw;
  }
  .generatedImgContainer {
    /* border: 2px solid red; */
    gap: 4vh;
    .imgContainer {
      width: 35vh;
      border-radius: 2vw;
      overflow: hidden;
    }
    .btnContainer {
      gap: 2vh;
    }
  }
}

@media print {
  .generatedImage {
    page-break-inside: avoid;
    max-width: 100%;
    height: auto;
  }
}
