.OutputPage {
  height: 100dvh;
  background: url("./../../assets/blue-bg.png") center/cover no-repeat;

  border: 1px solid #000;
  justify-content: flex-start !important;

  .outputPageWrapper {
    gap: 8vw;
  }

  .loader {
    margin-top: 30vw;
    width: 70vw;
  }
  .generatedImgContainer {
    gap: 8vw;
    /* border: 2px solid red; */
    .imgContainer {
      width: 70vw;
      border-radius: 2vw;
      overflow: hidden;
    }
    .btnContainer {
      gap: 6vw;
    }
  }
}

@media print {
  .generatedImage {
    page-break-inside: avoid;
    max-width: 100%;
    height: auto;
  }
}
