.GenderPage {
  /* border: 2px solid red; */
  height: calc(100dvh - 30vh);
  gap: 4vh;
  padding-top: 4vh;
  justify-content: flex-start !important;
  .genderContainer {
    /* border: 2px solid red; */
    gap: 12vw;
    .maleContainer,
    .femaleContainer {
      gap: 1vh;
      .gender {
        font-size: 3vh;
        text-align: center;
        font-family: "gothamBold";
      }
    }
    .imgContainer {
      width: 18vh;
      height: 18vh;
      position: relative;
      border: 0.5vw solid #212121;
      border-radius: 50%;
      img {
        border-radius: 50%;
      }
      .select {
        position: absolute;
        width: 3.5vh;
        top: 1vw;
        left: 1vw;
      }
    }
  }
  .nxtBtn {
    margin-top: auto;
    margin-bottom: 4vh;
  }
}
