.HomePage {
  height: calc(100dvh - 30vh);
  /* border: 0.5vw solid #212121; */
  gap: 4vh;
  .singleImg {
    width: 35vh;
    border: 0.5vw solid #212121;
    border-radius: 6vw;
    img {
      border-radius: 6vw;
    }
  }
  .horiImg {
    width: 32vw;
  }
}
